name: Bun build

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["**"]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                bun-version: [latest]

        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun ${{ matrix.bun-version }}
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: ${{ matrix.bun-version }}
            - run: bun install --frozen-lockfile
            - run: bun run build --if-present
            - run: bun run lint

